body {
    background-color: #ffff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
  }
  
  .btn-login {
    background-color: #071C4D;
    color: #ffff;
  }
  
  .btn-login:hover {
    background-color: #1E3771;
    color: #ffff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #071C4D;
  }
  
  .navbar-light .navbar-nav .nav-link.active {
    font-weight: bolder;
    color: #071C4D !important;
  }
  
  .btn-navbar-right {
    margin-top: -8px !important;
    margin-bottom: -10px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
  }
  
  .navbar-brand img {
    max-height: 40px;
  }
  
  header {
    padding: 185px 0 165px;
    margin-top: -70px;
    background-image: url("../images/Group 14@2x.png");
    background-size: cover;
  }
  
  header h1, header p {
    color: #ffff;
  }
  
  header h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
  }
  
  header p {
    font-size: 22px;
  }
  
  header .btn-cta {
    background-color: #FF9E53;
    color: #ffff;
  }
  
  header .btn-cta:hover {
    background-color: #FFAA69;
    color: #ffff;
  }
  
  .section-statis {
    margin-top: -50px;
  }
  
  .section-statis .stats-detail {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 54px;
  }
  
  .section-statis h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  
  .section-statis p {
    font-size: 20px;
    font-weight: lighter;
  }
  
  .section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -64px;
    margin-bottom: -180px;
  }
  
  .section-popular .section-popular-heading {
    margin-top: 180px;
  }
  
  .section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
    color: #ffff;
  }
  
  .section-popular .section-popular-heading h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
  }
  
  .section-popular .section-popular-heading p {
    font-size: 18px;
  }
  
  .popular-content .section-popular-travel .card-travel {
    min-height: 380px;
    background-color: #000;
    color: #ffff;
    background-size: cover;
    margin-bottom: 20px;
    padding: 30px;
  }
  
  .popular-content .section-popular-travel .travel-country {
    font-size: 18px;
    color: #fff;
  }
  
  .popular-content .section-popular-travel .travel-location {
    font-size: 26px;
    color: #fff;
  }
  
  .popular-content .section-popular-travel .travel-button .btn-travel-detail {
    background-color: #FF9E53;
    color: #fff;
  }
  
  .popular-content .section-popular-travel .travel-button .btn-travel-detail:hover {
    background-color: #FFAE6F;
    color: #fff;
  }
  
  .section-network {
    margin-top: -160px;
    padding-top: 240px;
    padding-bottom: 50px;
  }
  
  .section-network h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
  }
  
  .section-network p {
    font-size: 18px;
  }
  
  .section-network img {
    max-width: 100%;
  }
  
  .section-testimonial-heading {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;
  }
  
  .section-testimonial-heading h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }
  
  .section-testimonial-content {
    margin-top: -290px;
    padding-bottom: 50px;
  }
  
  .section-testimonial-content .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;
  }
  
  .section-testimonial-content .card-testimonial .testimonial-content {
    min-height: 380px;
  }
  
  .section-testimonial-content .card-testimonial h3 {
    font-size: 22px;
  }
  
  .section-testimonial-content .card-testimonial .testimonial {
    font-weight: 200px;
    font-size: 26px;
    color: #6E6E6E;
    min-height: 160px;
  }
  
  .section-testimonial-content .card-testimonial .trip-to {
    font-weight: normal;
    font-size: 22px;
    color: #6E6E6E;
  }
  
  .section-testimonial-content .btn-help {
    background-color: #FF9E53;
    color: #ffff;
  }
  
  .section-testimonial-content .btn-help:hover {
    background-color: #FFAA69;
    color: #ffff;
  }
  
  .section-testimonial-content .btn-get {
    background-color: #F2F2F2;
    color: #C3C3C3;
  }
  
  .section-testimonial-content .btn-get:hover {
    background-color: #FAFAFA;
    color: #C3C3C3;
  }
  
  .section-footer a {
    color: #071C4D;
  }